{{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: 'О мероприятии', href: '#', modLink: 'js-scroll-to' },
    { link: 'программа', href: '#', modLink: 'js-scroll-to' },
    { link: 'спикеры', href: '#', modLink: 'js-scroll-to' },
    { link: 'Спонсоры', href: '#', modLink: 'js-scroll-to' },
    { link: 'Выставка', href: '#', modLink: 'js-scroll-to' },
    { link: 'Цены', href: '#', modLink: 'js-scroll-to' },
    { link: 'Организатор', href: '#', modLink: 'js-scroll-to' },
    { link: 'faq', href: '#', modLink: 'js-scroll-to' },
    { link: 'Контакты', href: '#', modLink: 'js-scroll-to' }
  ]
) }}