<!-- begin section -->
<section id="program" class="section">
  <div class="container">
    <div class="section__title text-center">
      <h2 class="title title--h2">программа</h2>
    </div>

    <!-- begin program -->
    <div class="program js-tabs">
      <div class="program__tabs">
        {% for i in range(0, 2) %}
        <button
          class="progrm__tab js-tabs-btn"
          data-block="program__tab"
          data-tabs-tab="program-{{ i + 1 }}">Поток {{ i + 1}}</button>
        {% endfor %}
      </div>

      <div class="program__content">
        {% for i in range(0, 2) %}
        <div
          class="program__item js-tabs-item"
          data-block="program__item"
          data-tabs-item="program-{{ i + 1 }}">
            {% include "partials/_program.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- end program -->
  </div>
</section>
<!-- end section -->