{%set
blocks = [
  { id: 'sponsors', title: 'Спонсоры', btn: { title: 'стать спонсором' } },
  { id: 'exposition', title: 'выставка', btn: { title: 'разместить стенд' } }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    {% for i in blocks %}
    <div id="{{ i.id }}" class="section__block">
      <h2 class="title title--h2 text-center">{{ i.title | safe }}</h2>

      {% include "partials/_sponsors-slider.html" %}

      <div class="section__btn">
        {{ mixins.btn(
          title = i.btn.title,
          mod = 'btn--wide'
        ) }}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- end section -->